<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>aWaifu</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'><link rel="stylesheet" href="/css/index.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="showcase">
			<div class="video-container">
				<!-- <video src="/media/yourname.gif	" autoplay muted loop></video> -->
				<img src="/media/yourname.gif" alt="">
			</div>
			<div class="content">
				<h1>aWaifu</h1>
				<h3>Your ideal waifu, a few clicks away</h3>
				<a href="settings" class="btn">Start</a>
			</div>
		</section>

		<section id="about">
			<h1>About</h1>
			<p>
				aWaifu - A simple and easy to use waifu generator.
			</p>

			<h2>Follow Me On Social Media</h2>

			<div class="social">
				<a href="https://twitter.com/akihakune" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
				<a href="https://github.com/git-akihakune" target="_blank"><i class="fab fa-github fa-3x"></i></a>
			</div>
		</section>
<!-- partial -->
  
</body>
</html>
